.Footer #button-sign {
    font-family: Courier;
    font-size: 11px;
    text-align: center;
    padding: 3%;
}

.Footer #button-sign a {
    text-decoration: none;
    color: rgb(147, 147, 147);
    transition: all 300ms ease-in-out;
}

.Footer #button-sign a:hover {
    color: #ec6e4c;
    text-decoration: underline;
}