:root{
    --highLight-color:#EC6E4C;
    --font-color: #48484A;
    --font-family:'Roboto',sans-serif;
}
body {
    width: 100vw;
    height: max-content;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(207, 214, 231) 90%);
    background-repeat: no-repeat;
}
.container {
    box-shadow: 1px 1px 32px 12px rgba(179, 179, 179, 0.1);
    background: white;
}
/* **************** */
/* leftside box */
#weather-box-left {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#weather-box-left form{
    width: 100%;
}
/* search bar */
#search-form {
    cursor: pointer;
    position: relative;
}
#search-form div{
    position: relative;
    width: 80%;
    height: 60%;
    margin: 16% auto 0% auto;
    /* border: 1px solid rgb(0, 30, 255); */
}
#topTitle {
    display: none;
}
#data-clear-input {
    position: absolute;
    top: 8px;
    right: 58px;
    cursor: pointer;
}
#search-bar {
    width: 87%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.328);
    font-size: 12px;
    padding: 8px 18px;
    box-shadow: 1px 1px 10px 5px rgba(211, 211, 211, 0.213);
}
#searchBtn-icon {
    border: 0;
    outline: none;
    background-color: transparent;
}

#search-icon {
    color: var(--font-color);
}

/* city info */
#current-location {
    padding-top: 10%;
    text-align: center;
}
#current-city {
    font-weight: bold;
    font-size: 9vw;
    color: var(--font-color);
}
#current-country {
    padding-left: 10px;
}
/* weather icon */
#weather-box {
    display: flex;
}

#weather-box canvas {
    width: 30%;
    margin: 0 auto;
    padding-top: 8%;
    image-resolution: 300dpi;
}
/* whole temp and unit */
#temp-list {
    width: 28%;
    margin: 0px auto;
    /* padding-left: 29%; */
    padding-top: 10%;
}
/* C temp style */
.temp-unit {
    color: var(--highLight-color);
    text-decoration: none;
    padding-top: 28%;
    padding-left: 2%;
    cursor: pointer;
    font-size: 4vw;
}
/* F temp style after click*/
.temp-unit a {
    text-decoration: none;
    color: var(--font-color);
}
#temp-list .active {
    font-weight: 500;
    color: var(--highLight-color);
    cursor: default;
}
#main-temp {
    font-size: 19vw;
    color: var(--font-color);
}
/* feel like area */
/* date icon */
.leftSideIcon {
    font-size: 6vw;
    color: var(--highLight-color);
}
#weather-box-left-detail{
    width: 52%;
    font-size: 4.5vw;
    color: var(--font-color);
    margin: 10% auto 0% auto;
    padding: 15px 0px;
}
#weather-box-left-detail li{
    padding: 3% 0px 0% 0px;
}
#weather-description::first-letter {
    text-transform: capitalize;
}
#weather-box-left-date {
    color: var(--font-color);
}
#left-side-line {
    margin-top: 25%;
    opacity: 0.1;
}
/* uplash image and city name */
.weather-detail-img {
    padding: 0px 5%;
    margin-top: 5%;
    position: relative;
}
.weather-detail-img div img{
    border-radius: 10px;
    margin-bottom: 8%;
    box-shadow: 1px 1px 8px 4px rgba(179, 179, 179, 0.1);
}
#insertCityName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(39, 39, 39, 0.6);
}
#displayImgGalery {
    width: 100%;
    height: 18vh;
    object-position: 0% 35%;
    object-fit: cover;
}
/* **************** */
/* rightside box */
#weather-box-right {
    padding-top: 8%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(232, 237, 248) 90%);
}

#weather-box-right-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
}

.right-top-small-title {
    width: 60%;
    font-size: 12px;
    margin-bottom: 0em;
}

#brand-logo-name {
    /* width: 50%; */
    display: none;
    /* font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #48484A;
    margin-bottom: 0em; */
}

#getCurrentLocation {
    cursor: pointer;
}
/* switch Btn */
.switch-wrapper {
    width: 30%;
    display: flex;
    align-items: center;
}

.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 5vw;
    height: 4vh;
}

.switch-wrapper .sun {
    background: url(../src/img/sun.png) no-repeat center;
    background-size: 100%
}

.switch-wrapper .moon {
    background: url(../src/img/moon.png) no-repeat center;
    background-size: 100%
}

.switch-wrapper .toggle-wrapper {
    margin: 5px
}
/* hide check box */
.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute
}

.switch-wrapper .toggle-wrapper #switch:checked+label {
    background: var(--highLight-color);
}

.switch-wrapper .toggle-wrapper #switch:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%)
}

.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: #cad0e1;
    display: block;
    border-radius: 100px;
    position: relative
}

.switch-wrapper .toggle-wrapper label:after {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 100%
}

.inputLocation {
    font-weight: 400;
    color: var(--highLight-color);
}

/* 7 days forecast */
/* I am not add this function */
/* #weather-forecast {
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 12%);
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
    height: 26%;
    border: 1px solid rgb(68, 0, 255);
}

.forecast-seven-day {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    margin: 0px 3%;
}

.forecast-seven-day div img {
    width: 3vw;
}

.forecast-day {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.forecast-day p {
    font-size: 15px;
    color: #48484A;
}

#weather-forecast-temp {
    margin-top: 15px;
}

#weather-temp-max,
#weather-temp-min {
    font-size: 12px;
} */

/* weather detail */
#weather-detail {
    width: 86%;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);
    font-style: italic;
    padding-left: 4%;
}
/* weather detail box */
.weather-detail-list {
    width: 90vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0px;
}

.weather-detail-list li {
    width: 95%;
    font-size: 4vw;
    margin: 3% auto 0% auto;
    background-color: white;
    border-radius: 10px;
    padding: 5% 0px;
}
.weather-detail-list li p {
    padding-left: 3%;
}
.forecast-detail {
    color: rgb(147, 147, 147);
}

.humidityIcon {
    font-size: 30px;
    font-weight: 400;
}

.sunriseIcon {
    position: relative;
    top: 3px;
}

.sunsetIcon {
    rotate: 180deg;
    position: relative;
    top: 5px;
}

.detail {
    font-size: 8vw;
    font-weight: 300;
    color: var(--font-color);
}

.material-symbols-outlined {
    position: relative;
    top: 5px;
}

.sunrise-set-time,
#max-temp,
#min-temp {
    font-size: 8vw;
    font-weight: 300;
    color: var(--font-color);
}

#minTempUnit {
    rotate: 180deg;
}

.timeUnit {
    color: var(--font-color);
    font-size: 8vw;
    font-weight: 300;
}

.timeUnit_ampm {
    font-size: 15px;
    padding-left: 6px;
}
@media only screen and (min-width: 576px) {
    body {
        height: max-content;
    }

    .container {
        border-radius: 20px;
    }

    /* search bar */
    #search-form div {
        position: relative;
        width: 80%;
        height: 60%;
        margin: 16% auto 0% auto;
    }

    #data-clear-input {
        top: 14px;
        right: 72px;
    }

    #search-bar {
        font-size: 13px;
        padding: 8px 22px;
    }

    /* city info */
    #current-location {
        padding-top: 15%;
    }

    #current-city {
        font-size: 7vw;
    }

    /* weather icon */
    #weather-box {
        display: flex;
    }

    #weather-box canvas {
        width: 23%;
        padding-top: 12%;
    }

    /* whole temp and unit */
    #temp-list {
        width: 34%;
    }

    /* C temp style */
    .temp-unit {
        padding-top: 24%;
        font-size: 3.4vw;
    }

    #main-temp {
        font-size: 17vw;
    }

    /* feel like area */
    /* date icon */
    .leftSideIcon {
        font-size: 4.3vw;
    }

    #weather-box-left-detail {
        width: 50%;
        font-size: 3.5vw;
    }

    /* uplash image and city name */
    #displayImgGalery {
        height: 26vh;
    }

    #insertCityName {
        top: 45%;
        font-size: 5vw;
    }

    /* **************** */
    /* rightside box */
    .right-top-small-title {
        font-size: 12px;
    }

    #brand-logo-name {
        display: block;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        color: #48484A;
        margin-bottom: 0em;
    }

    /* switch Btn */
    .switch-wrapper {
        width: 37%;
    }

    .switch-wrapper .moon,
    .switch-wrapper .sun {
        width: 3vw;
        height: 4vh;
    }

    /* weather detail */
    #weather-detail {
        font-size: 18px;
        margin-top: 12%;
    }

    .weather-detail-list li {
        width: 95%;
        font-size: 2.7vw;
        padding: 3% 0px;
    }

    .sunrise-set-time,
    #max-temp,
    #min-temp,
    .detail,
    .timeUnit,
    #weather-description {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 768px) {

    /* search bar */
    #search-form div {
        width: 75%;
    }

    #data-clear-input {
        top: 22px;
        right: 95px;
    }

    #search-bar {
        font-size: 15px;
    }

    #current-city {
        font-size: 6vw;
    }

    #current-location {
        padding-top: 20%;
    }

    #weather-box canvas {
        width: 20%;
        padding-top: 12%;
    }

    /* whole temp and unit */
    #temp-list {
        width: 32%;
    }

    /* C temp style */
    .temp-unit {
        padding-top: 18%;
        font-size: 3vw;
    }

    #main-temp {
        font-size: 15vw;
    }

    /* feel like area */
    /* date icon */
    .leftSideIcon {
        font-size: 4vw;
    }

    #weather-box-left-detail {
        font-size: 3vw;
    }

    /* uplash image and city name */
    #displayImgGalery {
        height: 34vh;
    }

    /* **************** */
    /* rightside box */
    .right-top-small-title {
        font-size: 14px;
    }

    #brand-logo-name {
        font-size: 24px;
    }

    /* switch Btn */
    .switch-wrapper {
        width: 32%;
    }

    /* weather detail */
    #weather-detail {
        font-size: 18px;
        margin-top: 12%;
    }

    .weather-detail-list li {
        font-size: 2.2vw;
        padding: 5% 0px;
    }

    .sunrise-set-time,
    #max-temp,
    #min-temp,
    .detail,
    .timeUnit,
    #weather-description {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 992px) {
    body {
        width: 100vw;
        height: 100vh;
        font-family: 'Roboto', sans-serif;
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(207, 214, 231) 90%);
        background-repeat: no-repeat;
    }

    .container {
        box-shadow: 1px 1px 32px 12px rgba(179, 179, 179, 0.1);
        background: white;
    }

    /* **************** */
    /* leftside box */
    #weather-box-left {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #weather-box-left form {
        width: 100%;
    }
}
@media only screen and (min-width: 1200){

}
@media only screen and (min-width: 1400){

}
