/* under 576px */
body {
    height: max-content;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size:cover
}
.conTainer {
    height: initial;
    background: rgba(255, 255, 255, 0);
    padding: 0px;
    display: block;
    
}
/* **************** */
/* leftside box */
#weather-box-left {
    box-shadow: 1px 1px 32px 12px rgba(179, 179, 179, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* search bar */
#search-form {
    width: 90%;
    cursor: pointer;
    position: relative;
    margin-top: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search-form div{
    width: 80%;
}
.search-bar {
    width: 90%;
    height: 35px;
    border: 3px solid rgba(211, 211, 211, 0.321);
    outline: none;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0);
    font-size: 15px;
    padding: 8px 5px 8px 14px;
    box-shadow: 2px 2px 10px 5px rgba(211, 211, 211, 0.361);
    
}

#data-clear-input {
    width: max-content ;
    height: max-content;
    margin: 20px 0 0 -30px;
    position: absolute;
    cursor: pointer;
    display: none;
}
#searchBtn-icon {
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-left: 1%;
}
#search-icon {
    color: #48484A;
}
#weather-left-info{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* city info */
#current-location {
    margin-top: 28%;
}
#current-city {
    font-weight: bold;
    font-size: 8.2vw;
    color: #48484A;
}
#current-country {
    padding-left: 10px;
}

/* weather icon */
#weather-box {
    width: 85%;
}
#weather-box {
    width: max-content;
    margin: 0 auto;
    padding-top: 16%;
    text-align: center;
}
#weather-box canvas{
    width: 20vw;
    height: 20vw;
}
/* temp info */
#temp-list {
    width: 80%;
    padding-top: 12%;
    padding-bottom: 15%;
    text-align: center;
}
#main-temp {
    font-size: 18vw;
    color: #48484A;
}
.temp-unit {
    font-size: 3.5vw;
    text-decoration: none;
    padding-left: 1%;
    cursor: pointer;
    color: #EC6E4C;
    position: relative;
    top: -42px;
    left: 5px;
}
.temp-unit a {
    text-decoration: none;
    color: #7c7c7c;
}
#temp-list .active {
    font-weight: 500;
    cursor: default;
    color: #48484A;
}
#temp-list .active:hover {
    text-decoration: none;
}
/* weather-box-left-detail */
.leftSideIcon {
    color: #EC6E4C;
    font-weight: 400;
}
#weather-box-left-detail {
    font-size: 18px;
    color: #48484A;
    margin-bottom: 5%;
}
#weather-box-left-detail li {
    padding-top: 12px;
    padding-left: 18%;
}
#weather-box-left-detail li span{
    vertical-align:middle;
    padding-right: 5px;
    font-size: 4vw;
}
.timeSheet{
    display: inline-block;
}
#timeUpdate{
    padding-left: 12%;
}
/* image api area */
#left-side-line {
    width: 90%;
    margin-top: 15%;
    opacity: 0.3;
    margin-bottom: 8%;
}
.weather-detail-img {
    width: 90%;
    position: relative;
    margin-bottom: 15%;
}
#insertCityName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5.8vw;
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(39, 39, 39, 0.3);
}
#imgForecastLink {
    width: 100%;
    height: 100%;
}
#displayImgGalery {
    width: 100%;
    height: 18vh;
    object-position: 0% 35%;
    object-fit: cover;
    border-radius: 10px;
}
/* ***************************************** */
/* rightside box */
#weather-box-right {
    width: 100%;
    padding-top: 2%;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(232, 237, 248) 90%);
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

#weather-box-right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 10% 0%;
}
#brand-logo-name,
#weather-detail{
    font-size: 4vw;
    font-weight: 500;
    font-style: italic;
    color: #48484A;
    width: max-content;

}
#brand-logo-name {
    margin-bottom: 0em;
}
.right-top-small-title {
    display: none;
}

/* ***************************************** */
/* switch Btn */
.switch-wrapper {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
}
.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 4.5vw;
    height: 4.5vh;
}
.switch-wrapper .sun {
    background: url(../src/img/sun.png) no-repeat center;
    background-size: 100%
}
.switch-wrapper .moon {
    background: url(../src/img/moon.png) no-repeat center;
    background-size: 100%
}
.switch-wrapper .toggle-wrapper {
    margin: 5px
}
/* hide check box */
.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute
}
.switch-wrapper .toggle-wrapper #switch:checked+label {
    background: #EC6E4C;
}
.switch-wrapper .toggle-wrapper #switch:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%)
}
.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: #cad0e1;
    display: block;
    border-radius: 100px;
    position: relative
}
.switch-wrapper .toggle-wrapper label:after {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 100%
}

/* ***************************************** */
/* 7 days forecast */
#weather-forecast {
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(1, 82%);
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-bottom: 20%;
}

.forecast-seven-day {
    height: max-content;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}
#forecast-seven-day-detail{
    display: flex;
    flex-direction: row;
    padding: 0px 10% 0px 0px;
}
#forecast-seven-day-detail > p{
    margin-bottom: 0px;
    padding-top: 8%;
    padding-right: 15%;
    font-size: 4vw;
}
/* weather detail humidity wind-speed ... */
/* weather detail */
#weather-detail {
    width: 82%;
    height: 5%;
    margin: 3% auto;
}
.weather-detail-list {
    display: grid;
    grid-template-columns: repeat(1, 82%);
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.forecast-detail {
    color: #48484ac5;
    font-size: 3.5vw;
    font-weight: 400;
    margin: 0px;
}
.forecast-day {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    margin: 1.5% 0px;
    padding: 0px 3%;
}
.unit {
    font-weight: 300;
    padding-left: 5px
}
.detail{
    font-size: 7vw;
    font-weight: 200;
    color: #48484A;
}
.sunsetIcon,#minTempUnit {
    rotate: 180deg;
}
.detail-icon {
    font-size: 5vw;
    position: relative;
    top: 5px;
    font-weight: 200;
}

/* **************** */
/* dark mode */
body.night {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #e1e1e1
}

body.night .switch-wrapper .sun {
    background: url(../src/img/sun-white.png) no-repeat center;
    background-size: 100%
}

body.night .switch-wrapper .moon {
    background: url(../src/img/moon-white.png) no-repeat center;
    background-size: 100%
}

body.night .conTainer{
    background: rgba(0, 0, 0, 0);
}
body.night #weather-box-right,
body.night #weather-box-left {
    box-shadow: 1px 1px 32px 12px rgba(15, 12, 49, 0.079);
    background: linear-gradient(40deg, rgb(32, 38, 57), rgb(63, 76, 119));
}
body.night .footer{
    background: rgba(255, 255, 255, 0);
}
body.night .search-bar{
    border: none;
}
body.night .conTainer #weather-box-left #search-form input,
body.night .conTainer #weather-box-left #current-location #current-city,
body.night #search-icon,
body.night #main-temp,
body.night #weather-box-left-detail,
body.night #weather-box-left-date,
body.night #brand-logo-name,
body.night #getCurrentLocation,
body.night .cnBtn,
body.night #weather-forecast .forecast-day p,
body.night #weather-detail,
body.night .conTainer #weather-box-right .weather-detail-list .forecast-day p,
body.night .conTainer #weather-box-right .weather-detail-list .forecast-day p span,
body.night #left-side-line {
    color: rgb(252, 252, 252);
}

body.night .conTainer #weather-box-left #search-form input,
body.night #weather-forecast .forecast-seven-day,
body.night .conTainer #weather-box-right .weather-detail-list .forecast-day {
    background: rgba(92, 103, 160, 0.132);
    box-shadow: 1px 1px 10px 5px rgba(18, 24, 45, 0.074);
}
/* ***************************************** */
/* mobile first 768px*/
@media only screen and (min-width: 768px) {
    /* left side */
    /* search part */
    #search-form{
        width: 80%;
    }
    .search-bar {
        width: 93%;
        font-size: 18px;
        height: 45px;
        padding: 8px 0px 8px 22px;
    }
    #data-clear-input{
        margin: 20px 0 0 -40px;
    }
    #searchBtn-icon {
        font-size: 22px;
        padding-left: 0%;
    }
    #temp-list {
        padding-top: 16%;
    }
    #main-temp {
        font-size: 14vw;
    }
    .temp-unit {
        font-size: 3vw;
        top: -64px;
        left: 5px;
    }
    #weather-box-left-detail {
        width: 90%;
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #current-location {
        margin-top: 16%;
    }
    #weather-box {
        padding-top: 15%;
    }
        #weather-box canvas {
            width: 17vw;
            height: 17vw;
        }
    #weather-box-left-detail li {
        padding-top: 0px;
        padding-left: 8%;
        width: 50%;
    }
    #weather-box-left-detail li span {
        font-size: 3.2vw;
    }
    #timeUpdate {
        padding-left: 10%;
    }
    /* image size */
    #left-side-line {
        margin-top: 5%;
        margin-bottom: 4%;
    }
    #displayImgGalery {
        height: 28vh;
    }
    /* right side */
    /* seven days forecast */
    #brand-logo-name,
    #weather-detail {
        font-size: 3vw;
    }
    #brand-logo-name {
        width: max-content;
    }
    #forecast-seven-day-detail > p {
        font-size: 3vw;
        padding-top: 0%;
    }
    .right-top-small-title {
        display: block;
        width: 26%;
        font-size: 15px;
        margin-bottom: 0em;
    }
    /* switch */
    .switch-wrapper .moon,
    .switch-wrapper .sun {
        width: 3.5vw;
    }
    /* weather forecast 7 days*/
    #weather-forecast {
        margin-bottom: 12%;
    }
    #forecast-seven-day-detail {
        display: flex;
        flex-direction: row;
        padding: 0px 10% 0px 0px;
    }
    #forecast-seven-day-detail>p{
        font-size: 3.5vw;
    }
    #weather-forecast-temp{
        font-size: 2.4vw;
    }
    /* weather detail humidity wind-speed ... */
    /* weather detail */
    .forecast-day div{
        display: flex;
        flex-direction: row;
    }
    .forecast-day div p{
        padding: 0px 8px;
    }
    .forecast-detail {
        font-size: 2.4vw;
    }
    .detail {
        font-size: 5vw;
    }
    .detail-icon {
        font-size: 4vw;
    }
}
/* ***************************************** */
/* horizontal display */
/* mobile first 992px*/
@media only screen and (min-width: 992px) {
    body {
        width: 100vw;
        background-repeat: no-repeat;
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(207, 214, 231) 90%);
    }
    .conTainer {
        max-width: 75%;
        border-radius: 20px;
        margin: 5% auto 0px auto;
        display: grid;
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(232, 237, 248) 90%);
        grid-template-columns: 28% 72%;
    }
    /* **************** */
    /* leftside box */
    #weather-box-left {
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.704);
        box-shadow: 1px 1px 32px 12px rgba(111, 111, 111, 0.038);
        justify-content: start;
        padding-bottom: 3%;
    }
    /* search bar */
    #search-form {
        width: 90%;
        margin-top: 15%;
    }
    .search-bar {
        width: 90%;
        height: 16px;
        font-size: 12px;
        padding: 8px 0px 8px 14px;
    }
    #searchBtn-icon {
        padding-left: 3%;
        font-size: 11px;
    }
    #data-clear-input {
        width: 10px;
        height: 10px;
        margin: 8px 0 0 -20px;
    }
    #weather-left-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    /* city info */
    #current-location {
        margin-top: 22%;
    }
    #current-city {
        font-size: 2.6vw;
        font-weight:normal;
    }
    /* weather icon */
    #weather-box {
        width: 55%;
    }
    #weather-box {
        padding-top: 20%;
    }
    #weather-box canvas {
        width: 5vw;
        height: 5vw;
    }
    /* temp info */
    #temp-list {
        width: 80%;
        padding-top: 20%;
    }
    #main-temp {
        font-size: 5vw;
        font-weight: 400;
    }
    .temp-unit {
        font-size: 1.2vw;
        top: -29px;
    }
    /* weather-box-left-detail */
    #weather-box-left-detail {
        width: 90%;
        font-size: 12px;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    #weather-box-left-detail li {
        padding-left: 0%;
        width: 100%;
        padding-top: 6px;
    }
    #weather-box-left-detail li span {
        font-size: 1.3vw;
    }
    #timeUpdate {
        padding-left: 2%;
    }
    /* image api area */
    #left-side-line {
        margin-top: 18%;
        margin-bottom: 10%;
    }
    .weather-detail-img {
        width: 90%;
    }
    #insertCityName {
        font-size: 2vw;
    }
    #displayImgGalery {
        height: 10vw;
    }
    /* rightside box */
    #weather-box-right {
        border-radius: 20px;
        padding-top: 0%;
    }
    #weather-box-right-top {
        padding: 4% 3.5% 0%;
    }
    #brand-logo-name, 
    #weather-detail{
        font-size: 1.4vw;
    }
    .right-top-small-title {
        display: block;
        width: 30%;
        font-size: 11px;
        margin-bottom: 0em;
    }
    /* switch */
    .switch-wrapper .moon,
    .switch-wrapper .sun {
        width: 1.4vw;
    }
    /* 7 days forecast */
    #weather-forecast {
        margin-top: 3%;
        grid-template-columns: repeat(8, 11%);
        gap: 0.7%;
        margin-bottom: 6%;
    }
    .forecast-seven-day {
        flex-direction: column;
        padding: 12% 3px;
        height: 14vw;
    }
    #forecast-seven-day-detail {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    #forecast-seven-day-detail>p,
    .forecast-detail{
        font-size: 1vw;
        font-weight: 400;
    }

    #forecast-seven-day-detail>p {
        margin-bottom: 15px;
        padding-right: 0%;
    }
    #weather-forecast-temp{
        padding-top:22%;
        font-size: 1vw;
    }
    #weather-temp-max,
    #weather-temp-min {
        font-size: 1vw;
    }
    /* weather detail humidity wind-speed ... */
    /* weather detail */
    #weather-detail {
        margin: 0px 0px 3% 4%;
    }
    .weather-detail-list {
        width: 95%;
        grid-template-columns: repeat(3, 33%);
        margin: 0px auto;
    }
    .forecast-day {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 13vw;
        margin: 1.5% 3px;
        padding: 8% 0% 0% 8%;
    }
    .forecast-day div {
        display: flex;
        flex-direction: column;
    }
    .forecast-day div p{
        margin-bottom: 0px;
    }
    .content{
        margin-top: 12%;
    }
    .detail {
        font-size: 2.8vw;
    }
    .detail-icon {
        font-weight: 200;
        font-size: 3vw;
    }
    /* ***************************************** */
    /* mobile first 1200px*/
    @media only screen and (min-width: 1200px) {
        
        #current-location {
            margin-top: 32%;
        }
        #temp-list {
            padding-top: 15%;
            padding-bottom: 13%;
        }
        #main-temp {
            font-size: 5vw;
            color: #48484A;
        }
        .temp-unit {
            font-size: 1.4vw;
            top: -32px; 
        }
        #weather-box-left-detail li {
            padding-top: 2px;
        }
        #left-side-line {
            width: 80%;
        }
        .weather-detail-img {
            width: 80%;
        }
        #insertCityName {
            font-size: 2vw;
        }
        /* right side */
        .right-top-small-title {
            width: 20%;
            font-size: 12px;
        }
        /* 7 days forecast */
        #weather-forecast {
            margin-top: 3%;
            grid-template-columns: repeat(8, 10.8%);
            gap: 1%;
        }
        .forecast-seven-day {
            padding: 15% 5px;
            height: 14vw;
        }
        #weather-temp-max,
        #weather-temp-min {
            font-size: 1vw;
        }
        .detail-icon {
            font-size: 2.5vw;
        }
    }
    @media only screen and (min-width: 1400px) {
        #search-form {
            width: 85%;
            margin-top: 17%;
        }
        .search-bar {
            width: 90%;
            font-size: 11px;
            height: 22px;
        }
        #searchBtn-icon {
            font-size: 18px;
            padding-left: 3%;
        }
        #data-clear-input {
            margin: 11px 0 0 -24px;
        }
        .temp-unit {
            font-size: 1.2vw;
            top: -42px;
        }
        #weather-box-left-detail li span{
            font-size: 1vw;
        }
        #weather-box-right-top{
            padding: 5.5% 3.2% 0%;
        }
        .right-top-small-title {
            width: 26%;
            font-size: 16px;
        }
                
        /* 7 days forecast */
        #weather-forecast {
            gap: 1%;
            margin-top: 3%;
        }
        .forecast-seven-day {
            height: 11vw;
            padding: 10px 5px;

        }
        #forecast-seven-day-detail > p{
            margin-bottom: 15px;
            padding-top: 8%;
            padding-right: 15%;
        }
        /* weather detail humidity wind-speed ... */
        /* weather detail */
        #weather-detail {
            margin: 0px 0px 3% 4%;
        }
        .forecast-day {
            height: 13vw;
        }
    }
    /* ***************************************** */
    /* mobile first 1800px*/
    @media only screen and (min-width: 1800px) {
        .search-bar {
            height: 24px;
            font-size: 15px;
            padding: 8px 0px 8px 14px;
        }
        .detail-icon {
            font-size: 2vw;
        }
        #weather-box-left-detail li{
            margin-bottom: 4%;
        }
        .temp-unit {
            font-size: 1vw;
            top: -52px;
        }
        #insertCityName {
            font-size: 1.5vw;
        }
        #displayImgGalery {
            width: 100%;
            height: 9vw;
        }
        /* weather detail humidity wind-speed ... */
        /* weather detail */
        #weather-box-right {
            padding-top: 0%;
        }
        .switch-wrapper .moon,
        .switch-wrapper .sun {
            width: 1.2vw;
        }
        .forecast-seven-day {
            height: 14.5vw;
        }
        .forecast-day {
            height: 11vw;
        }
    }
    }
           